@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

body {
  font-family: "Overpass", sans-serif;
  background-color: hsl(216, 12%, 8%);
  min-height: 100vh;
  display: grid;
  place-items: center;
}


.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

main {
  background-color: hsl(213, 19%, 18%);
  padding: 20px;
}

.front {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

h1,
p {
  margin-bottom: 0px;
}

h1 {
  color: hsl(0, 0%, 100%);
}

.btn-submit {
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
  border: none;
  border-radius: 25px;
  width: 100%;
}

@media screen and (min-width:360px) and (max-width:760px) {
  body{
    height: 120vh;
    max-height: 400px;
  }
  main {
    border-radius: 20px;
  }

  .front {
    gap: 1rem;
  }

  h1 {
    font-size: 1.5rem;
    margin-top: 0px;
  }

  p {
    color: hsl(217, 12%, 63%);
    font-size: 0.9rem;
  }

  .rating {
    padding: 1rem 0rem;
    display: flex;
    justify-content: space-between;
  }

  .rate {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    background-color: hsl(213, 19%, 30%);
    color: hsl(217, 12%, 63%);
    font-size: 0.8rem;
    font-weight: 700;
  }

  .rate:focus {
    background-color: hsl(217, 12%, 63%);
    color: hsl(0, 0%, 100%);
  }

  .icon-wrapper {
    height: 30px;
    width: 30px;
    padding: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
    background-color: hsl(213, 19%, 30%);
  }

  .btn-submit {
    font-size: 0.80rem;
    padding: 0.80rem 1.5rem;
    font-weight: 700;
    letter-spacing: 1.5px;
  }

  .thank-you {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
  }

  .image {
    padding: 0.5rem;
  }

  .messgae {
    margin: 1rem 0rem;
  }

  .selected-rate span {
    color: hsl(25, 97%, 53%);
    padding: .5rem 1rem;
    background-color: hsl(213, 19%, 30%);
    border-radius: 25px;
    font-size: 0.9rem;
  }
}

@media screen and (min-width:761px) and (max-width:1440px) {
  main {
    width: 360px;
    max-width:50%;
    border-radius: 20px;
  }

  .front {
    gap: 1rem;
  }

  h1 {
    font-size: 1.5rem;
    margin-top: 0px;
  }

  p {
    color: hsl(217, 12%, 63%);
    font-size: 0.9rem;
  }

  .rating {
    padding: 1rem 0rem;
    display: flex;
    justify-content: space-between;
  }

  .rate {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    background-color: hsl(213, 19%, 30%);
    color: hsl(217, 12%, 63%);
    font-size: 0.8rem;
    font-weight: 700;
  }

  .rate:hover {
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
    cursor: pointer;
  }

  .rate:focus {
    background-color: hsl(217, 12%, 63%);
    color: hsl(0, 0%, 100%);
  }

  .icon-wrapper {
    height: 30px;
    width: 30px;
    padding: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
    background-color: hsl(213, 19%, 30%);
  }

  .btn-submit {
    font-size: 0.80rem;
    padding: 0.80rem 1.5rem;
    font-weight: 700;
    letter-spacing: 1.5px;
  }

  .btn-submit:hover {
    background-color: hsl(0, 0%, 100%);
    color: hsl(25, 97%, 53%);
    cursor: pointer;
  }


  .thank-you {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.5rem;
  }

  .image {
    padding: 2rem;
  }

  .messgae {
    margin: 2rem 0rem;
  }

  .selected-rate span {
    color: hsl(25, 97%, 53%);
    padding: .5rem 1rem;
    background-color: hsl(213, 19%, 30%);
    border-radius: 25px;
    font-size: 0.9rem;
  }

}